<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Ini adalah website untuk tugas IMK<br>
  Anggota Kelompok<br>
  Aldi Virjiawan<br>
  Muhammad Mutaqqin<br>
  Muhammad Ali Mahfudin<br>
  Muhammad Rikiyanto<br>
  Daud Tri Kurnain<br>
</p>