<footer class="footer">
  <small>
    Tugas IMK Mercubuana
    by <a href="http://www.instagram.com/antikero">Aldi Virjiawan</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>